@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* @apply transition-colors duration-300; */
}
.slow{
  @apply transition-colors duration-500;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-pro {
    @apply xl:px-32 px-8 xl:py-24 py-24;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat  text-lg leading-7;
  }
}

/* product page */
.prod_scroll{
  scrollbar-width: none; 
}
.prod_scroll::-webkit-scrollbar {
  display: none;
}

/* scrollbar */

::-webkit-scrollbar{
  width: 1rem;
}
::-webkit-scrollbar-track{
  background-color: white;
}
::-webkit-scrollbar-thumb{
  background-color: #FF6452;
  border-radius: 1rem;
  border: 0.25rem solid transparent;
  background-clip: content-box;
}

/* animation */
#ani1{
  position: relative;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(25%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

#ani2{
  position: relative;
  animation: ani2 5s infinite;
}

@keyframes ani2 {
  0%, 100% {
    transform: scale(1);
    /* animation-timing-function: cubic-bezier(0.8, 0, 1, 1); */
  }
  50% {
    transform: scale(1.1);
    /* animation-timing-function: cubic-bezier(0, 0, 0.2, 1); */
  }
}

.transition-height {
  transition: height 0.3s ease-in-out;
}

.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px;
}

.progress-value {
  animation: load 7.2s cubic-bezier(0.42, 0, 0.58, 1) forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 5px;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 95%; }
}

/* .activePage{
  @apply  
} */
/* .inactivePage{
  @apply  
} */

/* dark */
.bgDark{
  /* @apply bg-[#070F2B] */
  /* @apply bg-black */
  /* @apply bg-[#0D1116] */
  @apply bg-[#121212]
}